<template>
  <section>
    <h1>{{ user.name }}</h1>

    <hr>

    <h3>{{ user.email }}</h3>
  </section>
</template>

<script>
  export default {
    validate({ params }) {
      return /^\d+$/.test(params.id)
    },

    computed: {
      user() {
        const uid = +this.$route.params.id
        return this.$store.getters['users/users'].find(u => u.id === uid)
      }
    },

    async fetch({ store }) {
      if (store.getters['users/users'].length === 0) {
        await store.dispatch('users/getAllUsers')
      }
    }
  }
</script>
