<template>
  <section>
    <h1>Users page</h1>

    <ul>
      <li v-for="user in users" :key="user.id">
        <a href="#" @click.prevent="openUser(user.id)">{{ user.name }}</a>
      </li>
    </ul>
  </section>
</template>

<script>
  export default {
    computed: {
      users() {
        return this.$store.getters['users/users']
      }
    },

    async fetch({ store }) {
      if (store.getters['users/users'].length === 0) {
        await store.dispatch('users/getAllUsers')
      }
    },

    methods: {
      openUser(user) {
        this.$router.push(`/users/${user}`)
      }
    }
  }
</script>
