<template>
  <section>
    <h1>404 not found</h1>

    <nuxt-link to="/">Home</nuxt-link>
  </section>
</template>

<style scoped>
  section {
    width: 600px;
    margin: 0 auto;
    padding: 5rem;
  }

  h1 {
    color: orangered;
  }
</style>
