<template>
  <section>
    <h1>About page</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam aut cum deserunt dicta ea eligendi eveniet harum illum incidunt laboriosam, modi molestiae numquam odit possimus quae, quibusdam quis vel!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam aut cum deserunt dicta ea eligendi eveniet harum illum incidunt laboriosam, modi molestiae numquam odit possimus quae, quibusdam quis vel!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam aut cum deserunt dicta ea eligendi eveniet harum illum incidunt laboriosam, modi molestiae numquam odit possimus quae, quibusdam quis vel!
    </p>
  </section>
</template>

<script>
  export default {
    name: 'about',

    middleware: ['auth']
  }
</script>
