<template>
  <section>

    <div v-if="$route.query.message" class="alert alert-danger mb-3">
      {{ $route.query.message }}
    </div>

    <h1>Login page</h1>

    <form @submit.prevent="submitHandler">
      <div class="form-group">
        <input type="text" class="form-control">
      </div>

      <p>
        <nuxt-link to="/">To home page</nuxt-link>
      </p>

      <button class="btn btn-primary" type="submit">Login</button>
    </form>

  </section>
</template>

<script>
  export default {
    name: 'login',

    layout: 'empty',

    methods: {
      submitHandler() {
        this.$store.dispatch('login')
        this.$router.push('/')
      }
    }
  }
</script>

<style scoped>
  section {
    width: 500px;
    margin: 0 auto;
  }
</style>
